:root {
  --primary-color: #212121;
  --first-color: #ffffff;
  --second-color: #757575;
}
.body {
  background-color: var(--first-color);
  color: var(--primary-text-color);
}
.header-logo {
  color: var(--primary-color);
}
.list {
  list-style: none;
}
/* site-nav */
.site-nav .link {
  color: var(--primary-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* auth-nav */
.auth-nav .link {
  color: var(--second-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
/* hero */
.hero {
  background-color: #2f303a;
}
.hero-titel {
  color: var(--first-color);
}
/* features */
.features {
  background-color: #e5e5e5;
}
.features-titel {
  color: var(--primary-color);
}
.features-text {
  color: var(--second-color);
}
/* .works */
.works {
  background-color: #e5e5e5;
}
.works-titel {
  color: var(--primary-color);
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-titel {
  color: var(--primary-color);
}
.team-bord {
  background-color: var(--first-color);
}
.team-name {
  color: var(--primary-color);
}
.team-text {
  color: var(--second-color);
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: var(--first-color);
}
.footer-addres {
  color: var(--first-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
