:root {
  --primary-text-color: #212121;
  --first-color: #ffffff;
  --second-color: #757575;
  --acctnt-color: #2196f3;
  --header-footer-background-color: #2f303a;
  --section-background-color: #e5e5e5;
  --section-team-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
}
.body {
  background-color: var(--first-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
/* header */
.logo {
  color: var(--acctnt-color);
  text-decoration: none;
}
.header-logo {
  color: var(--header-logo-color);
}
/* site-nav */
.site-nav .link {
  color: var(--primary-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acctnt-color);
}
.site-nav .link .current {
  color: var(--acctnt-color);
}
/* auth-nav */
.auth-nav .link {
  color: var(--second-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--acctnt-color);
}
/* hero */
.hero {
  background-color: var(--header-footer-background-color);
}
.hero-titel {
  color: var(--first-color);
}
.button {
  color: var(--primary-text-color);
  background-color: var(--section-team-background-color);
}
.button:hover,
.button:focus {
  color: var(--first-color);
  background-color: var(--acctnt-color);
}
/* features */
.features {
  background-color: var(--section-background-color);
}
.features-titel {
  color: var(--primary-color);
}
.features-text {
  color: var(--second-color);
}
/* .works */
.works {
  background-color: var(--section-background-color);
}
.works-titel {
  color: var(--primary-color);
}
/* team */
.team {
  background-color: var(--section-team-background-color);
}
.team-titel {
  color: var(--primary-color);
}
.team-bord {
  background-color: var(--first-color);
}
.team-name {
  color: var(--primary-text-color);
}
.team-text {
  color: var(--second-color);
}
/* footer */
.footer {
  background-color: var(--header-footer-background-color);
}
.footer-logo {
  color: var(--footer-logo-color);
}
.footer-addres {
  color: var(--first-color);
}
.footer-link {
  color: var(--footer-link-color);
}
/* portfolio */
.section {
  background-color: var(--section-background-color);
}
.example {
  background-color: var(--first-color);
}
.examplt-name {
  color: var(--primary-text-color);
}
.example-text {
  color: var(--second-color);
}
